Repository josh-development/website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dan-online, @RealShadowNova, @eslachance

fix: undo some of nova's breakage
  src/pages/Docs.tsx
  src/pages/NotFound.tsx
  src/routes.ts
Owners: @dan-online, @RealShadowNova

fix(font): use correct weights and fix legibility
  index.html
  src/assets/css/main.css
Owners: @dan-online, @RealShadowNova

fix: highlighting and routes
  src/docs/CodeBlock.tsx
  src/pages/Home.tsx
  src/routes.ts
  src/utils/mdit.ts
Owners: @dan-online, @RealShadowNova

chore(tables): no more round for you
  src/components/docs/packages/classes.tsx
  src/components/docs/packages/enums.tsx
  src/components/docs/packages/interfaces.tsx
  src/components/docs/packages/methods.tsx
Owners: @dan-online, @RealShadowNova

chore(deps): add sapphire fetch
  package.json
  yarn.lock
Owners: @RealShadowNova

feat(chevron): add toTop button
  src/App.tsx
  src/components/docs/Navigation.tsx
  src/components/layout/up.tsx
  src/index.tsx
  src/pages/Home.tsx
  vite.config.ts
Owners: @dan-online, @RealShadowNova

chore: cleanup
  src/components/docs/Contents.tsx
  src/components/docs/Navigation.tsx
  src/components/docs/packages/classes.tsx
  src/components/docs/packages/enums.tsx
  src/components/docs/packages/interfaces.tsx
  src/components/docs/packages/methods.tsx
  src/components/types.ts
  src/pages/Docs.tsx
  src/pages/Home.tsx
Owners: @dan-online, @RealShadowNova

chore: remove comment
  src/components/docs/packages/methods.tsx
Owners: @dan-online, @RealShadowNova

chore: better loading
  src/index.tsx
  src/pages/Home.tsx
  src/routes.ts
Owners: @dan-online, @RealShadowNova

chore: changes
  src/assets/css/main.css
  src/docs/welcome/getting-started.mdx
  src/docs/welcome/home.mdx
  src/utils/getLocation.ts
Owners: @dan-online, @RealShadowNova

chore(deps): regen lockfile
  yarn.lock
Owners: none

.github/CODEOWNERS:

/public/ @dan-online @RealShadowNova
/src/ @dan-online @RealShadowNova


/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
LICENSE.md @eslachance
package.json @RealShadowNova
